@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121212;
  --foreground: #f1f1f1;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-synthesis: none;
  font-family: var(--font-sans);
}
